#comment{:id => "#{comment.id}", :class => "rectangle tleft"}
  .comment-author
    = image_tag gravatar_url(comment.email), :class => 'comment-avatar'
    .comment-author-text
      .comment-date
        = comment.created_at.strftime("%e %B %Y, %k:%M")
      = link_to comment.commenter, comment.www
      napisał:
      - if current_admin
        (#{comment.email})
  .comment-content
    = comment.content
  - if current_admin
    %p.comment-info
      = link_to "Usun", [:blog, comment.post, comment], :confirm => "Jestes pewien?", :method => 'delete', :remote => true
      
