= form_for(@category) do |category_form|
  .form
    = category_form.label :title, t(:cat_title)
    = category_form.text_field :title, :class => 'width100'
    %br/
    = category_form.label :category_id, t(:cat_cat)
    = category_form.select :category_id, generate_category_options(@categories), :class => 'width100'
    %br/
    = category_form.label :visible, t(:visible)
    = category_form.check_box :visible
    %br/
    = category_form.submit t(:update)
